@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  background: #111;
}

body {
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin:auto;
}

header ul {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 2rem 0;  
}

header ul li{
  display: inline;
  padding: 0 1rem;
  list-style: none;
}


a {
  color: #006888;
  text-decoration: none;
}
